/*

#FDA82B - yellow
#2a2e43 - dar blue
#00AAA0 - persian green
#007C85 - light teal
#065A68 - dark teal

*/


h1, h2, h3, h4, h5, h6, p, a {
	color: #2A2E43;
}

a:hover, footer {
	color: #6A6D7C;
}

.text-yellow {
	color: #FDA82B !important;
}

h1 {
	font-family: 'Francois One', sans-serif;
}

h2, h3, h4, h5, h6, a, p {
	font-family: 'Open Sans', sans-serif;
} 

p {
	margin: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.skills h2, .skills p, .section-head h1 {
	color: #2A2E43;
}

.section-head1 {
	padding-top: 1.5rem;
}

.section-head2 {
	padding-bottom: 0.5rem;
}

.section-head1 h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.section-head2 h3 {
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

.section-head2 h3::before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1; 
}

.section-head2 h3 span { 
    background: #fff; 
    padding: 0 15px; 
}

.h-sep-solid-top {
	width: 97.5%;
	margin: auto;
	padding: 1px;
	border-top: 2px solid #dfdfdf;
}

.h-sep-solid-bottom {
	width: 97.5%;
	margin: auto;
	padding: 1px;
	border-bottom: 2px solid #dfdfdf;
}

.h-sep-dotted {
	width: 97.5%;
	margin: auto;
	padding: 1px;
	border-top: 2px dotted #dfdfdf;
}

/* ====== MAIN GRID ======== */
body {
	display: grid;
	grid-template-columns: 56px 11fr;
	grid-template-areas: 
	"sidenav main"
	"sidenav footer";
}

#navbar {
	grid-area: sidenav;
	position: fixed;
	height: 100%;
	width: 3.5rem;
	margin-right: 1rem;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	background-color: #2A2E43;
}

/* ========== NAVBAR ======== */
#navbar {
	border-right: solid 1px #2A2E43;
}

.nav-item {
	font-size: 3.5rem;
}

.nav-item:hover {
	border-left: solid 3px #FDA82B;
}

/* ========== TABS ======== */
.nav-tabs .nav-item {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}

.nav-tabs .nav-item:hover {
	border: none;
}

/* ======== WELCOME =================================== */
#welcome-section {
	background-image: url(cover1.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

#welcome {
	height: 38rem;
}

.welcome-elem {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.welcome-links {
	background-color: rgba(42, 46, 67, 0.8);
	border: 1px solid #6A6D7C;
	color: #fff;
	margin-top: 1rem;
}

.welcome-links:hover {
	animation-name: highlight;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

@keyframes highlight {
	100% {
		border: 2px solid #fff;
		background-color: rgba(42, 46, 67, 0.9);
	}
}

.welcome-links a {
	text-decoration: none;
}

.welcome-links h3 {
	color: #FDA82B;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1rem 1rem 0 1rem;
}

.welcome-links h4 {
	color: #fff;
	font-size: 1.2rem;
	margin: 0;
	padding: 0 1rem 1rem 1rem;
}

.welcome-text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 2;
}

.welcome-text h1, .welcome-text h2 {
	color: #FFF;
	text-align: right;
	font-weight: bold;
}

.welcome-text h1 {
	text-transform: uppercase;
	font-size: 3rem;
}

#cover-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #6A6D7C;;
    margin: 1rem 0;
    padding: 0;
  	animation-name: runline;
  	animation-duration: 1s;
}

@keyframes runline {
  	0% {
    	width: 0%;
  	}

	100% {
		width: 100%;
	}
}

/* ======= ROUTE ====================================== */
.route-heading {
	margin: 0.4rem 0 0.4rem 0;
	text-transform: uppercase;
}

.route-heading a {
	text-decoration: none;
}

.circle {
	height: 3rem;
	width: 3rem;
	line-height: 2.5rem;
	border-radius: 50%;
	font-size: 2rem;
	color: #FFF;
	background-color: #FDA82B;
	text-align: center;
	margin-right: 1rem;
}

.circle-current {
	height: 3rem;
	width: 3rem;
	line-height: 2.5rem;
	border-radius: 50%;
	font-size: 2rem;
	color: #FFF;
	background-color: #2A2E43;
	text-align: center;
	margin-right: 1rem;

}

#route-tile {
	margin-top: 3rem;
}

.route {
	text-align: center;
	padding: 0 4rem 0 4rem;
}

.route-left-start {
	border-top: 10px solid #FDA82B;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
}

.route-right {
	border-top: 10px solid #FDA82B;
	border-right: 10px solid #FDA82B;
	border-bottom: 10px solid #FDA82B;
	border-top-right-radius: 90px;
	border-bottom-right-radius: 90px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
}

.route-left {
	border-top: 10px solid #FDA82B;
	border-left: 10px solid #FDA82B;
	border-bottom: 10px solid #FDA82B;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
}

.route-end {
	border-top: 10px solid #FDA82B;
	border-left: 10px solid #FDA82B;
	border-top-left-radius: 80px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
}

.route-blank {
	border-top: 10px solid rgba(0,0,0,0);
	border-left: 10px solid rgba(0,0,0,0);
	border-bottom: 10px solid rgba(0,0,0,0);
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
}

.route-l-circle p, .route-r-circle p {
	height: 3rem;
	width: 3rem;
	line-height: 2.5rem;
	border-radius: 50%;
	font-size: 2rem;
	color: #FFF;
	background-color: #FDA82B;
	text-align: center;
}

.current-circle p {
	background-color: #2A2E43;
}

.row-position2 {
	top: -10px;
}

.row-position3 {
	top: -20px;
}

.row-position4 {
	top: -30px;
}

.route-l-circle, .route-r-circle {
	position: absolute;
	top: -9%;
}

.circle-l30 {
	left: 30%;
}

.circle-l60{
	left: 60%;
}

.circle-r30 {
	right: 30%;
}

.circle-r60 {
	right: 60%;
}

.route-text {
	padding-left: 1.5rem;
	padding-right: 1.5rem;

}

.route-text h4 {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
}

.route-text h3 {
	font-size: 1.2rem;
	color: #FDA82B;
	text-transform: uppercase;
	font-weight: bold;
}

.route-text h5 {
	color: #6A6D7C;
	font-size: 1rem;
	font-weight: bold;
	padding-top: 1rem;
	margin: 0;
	text-transform: uppercase;
}

.route-text a {
	text-transform: capitalize;
	font-weight: lighter;
	color: #6A6D7C;
}

.route-text a:hover {
	color: #FDA82B;
}

.line-upper {
	height: 1rem;
	border-top: 1px solid #2A2E43;
	width: 60%;
	padding-bottom: 2rem;
	margin: auto;
}

.line-bottom {
	height: 1rem;
	border-bottom: 1px solid #2A2E43;
	width: 60%;
	padding-top: 1.5rem;
	margin: auto;
}

/* ========== SKILLS BTN ========== */
.btn {
	border-radius: 0;
	background-color: #FDA82B;
	color: #fff;
}

.btn:active, .btn:focus {
	color: #FFF;
	background-color: #2A2E43;
	border-color: #2A2E43;
	box-shadow: none;
}

.filter-menu {
	margin: 0 0 0 0.9rem;
}

.dropdown, .btn-list {
	margin-right: 1rem;
}

.dropdown-menu {
	background-color: #2A2E43;
	border-radius: 0;
	border: none;
	margin: 0;
}

.dropdown-item {
	color: #FFF;
	border: none;
}

.dropdown-item:hover {
	color: #FFF;
	background-color: #FDA82B;
}

.technology {
	margin: 0.5rem 0 0.5rem 1rem;
}

.technology::before {
	content: "Technology: "
}

.sort {
	margin: 0.5rem 1rem 0.5rem 0;
}

.sort::before {
	content: "Sorted by: "
}

/* ============= SKILLS CARDS ================================= */
#skill-section {
	height: 90vh;
	overflow: scroll;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card {
	border-style: none;
	border-radius: 0;
}

.skill-card {
	width: 30%;
	margin: 1rem;
	box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
}

.skill-card:hover {
	box-shadow: 0 20px 40px 10px rgba(0,0,0,0.25);
}

.card-title {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bold;
}

.card-text {
	text-align: justify;
	margin-bottom: 0.6rem;
}

.techn, .date {
	font-style: italic;
}

.techn::before {
	font-weight: bold;
	font-style: normal;
	content: "Technology: "

}

.date::before {
	font-weight: bold;
	font-style: normal;
	content: "Date: "
}
/*.card-requirement {
	text-transform: uppercase;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}*/

.card-body .btn {
	color: #FFF;
/*	width: 100%;*/
	text-transform: uppercase;
	margin-top: 1rem;
}

.card-body .btn:hover {
	background-color: #2A2E43;
}

.card-background {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0.4rem;
}

/*.cb-back {
	background-image: linear-gradient(60deg, #2dd8bd, #22b7a0, #2A2E43);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}*/


/* ============= ABOUT ME ======================================== */
#edu-content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.edu-card {
	border: 3px solid;
	border-top: 25px solid;
	width: 23%;
	margin: 0.5rem;
}

#edu1 {
	border-color: #FDA82B;
}

#edu2 {

	border-color: #00AAA0;
}

#edu3 {
	border-color: #007C85;
}

#edu4 {
	border-color: #065A68;
}

/* ============= CONTACTS ======================================== */
#contacts {
	background-color: #2A2E43;
	padding: 2.5rem 2.5rem 0 2.5rem;
}

.contact-box i {
	font-size: 3rem;
	color: #FDA82B;
}

.cont-side {
	border-top: 1px solid #6A6D7C;
	border-bottom: 1px solid #6A6D7C;
}

.cont-center {
	border: 1px solid #6A6D7C;
}

.cont-box i {
	font-size: 3rem;
	color: #FDA82B;
	padding: 1rem 0 0 0;
}

.cont-box h6 {
	padding: 0 0 1rem 0;
}

/* =========== FOTTER ========================================== */
footer {
	padding-top: 2.5rem;
}

.footer-left {
	padding: 0;
	margin-top: 6px;
}

.logo {
	margin-top: 3px;
	margin-bottom: 10px;
	border: 3px solid #fff;
	width: 6rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.logo h6 {
	color: #fff;
	font-family: 'Viga', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
